{
  "env": {
    "development": {
      "presets": [ "next/babel" ],
      "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties"
      ]
    },
    "production": {
      "presets": [ "next/babel" ],
      "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties"
      ]
    },
    "test": {
      "presets": [ "env" ],
      "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties",
        "babel-plugin-transform-es2015-modules-commonjs"
      ]
    }
  }
}
