@import url('reset.css');

html, body {
  font-size: 14px;
}

.Main-container {
  display: grid;
  height: 100vh;
  overflow: hidden;

  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header"
    "content";
}

.Sidebar {
  display: none;
}

.AppBar {
  grid-area: header;
  position: inherit !important;
}

.LeftSidebar {
}

.AppContent-container {
  grid-area: content;
  padding: 10px;
  overflow-y: auto;
}

.Link-button {
  font-size: 100%;
  color: #0366d6;
  cursor: pointer;
  border: none;
  background: transparent;
}

@media (min-width: 769px) {
  .Main-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "header"
      "content";
  }

  .Main-container.show-sidebar {
    grid-template-columns: 270px 1fr;
    grid-template-areas:
      "header header"
      "sidebar content";
  }

  .Sidebar {
    display: flex;
    grid-area: sidebar;
    overflow-y: auto;
  }

  .ToggleSidebar-button {
    display: none !important;
  }
}

